<div class="card text-center">
  <div class="card-header">
  <h4>Enter information to be encoded</h4>
  </div>
  <%= form_tag :qr_code_view, method: :get do |f| %>
    <div class="field">
      <%= label_tag '' %>
      <%= text_field_tag :content, nil, required: true %>
    </div>
    <br>
    <div class="actions">
      <%= submit_tag 'Generate QR code', class:"btn btn-primary" %>
    </div>
  <% end %>
</div>